@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}
html {
    scroll-behavior: smooth;
}
body * {
    @apply transition-colors duration-1000;
}
@media screen and (prefers-color-scheme: dark) {
    .active a {
        color: white;
    }
}
.active a {
    color: #00b4d8;
}
